<div class="pw-container">
  <!-- Header -->
  <div class="pw-header">
    <div class="pw">
      <span [innerText]='password' id="pw"></span>
      <button id="copy">Copy</button>
    </div>
    
  </div>

  <!-- Body -->
  <div class="pw-body">
    <div class="form-control">
      <label for="length">Password Length</label>
      <input (change)="onChangeLength($event.target.value)" type="number" value="" id="length" min="15" max="20">
    </div>
    <div class="form-control">
      <label for="upper">Contains Uppercase Letters</label>
      <input (change)="onChangeUseUppercaseLetters()" type="checkbox" id="upper">
    </div>
    <div class="form-control">
      <label for="lower">Contains Lowercase Letters</label>
      <input (change)="onChangeUseLowercaseLetters()" type="checkbox" id="lower">
    </div>
    <div class="form-control">
      <label for="number">Contains Numbers</label>
      <input (change)="onChangeUseNumbers()" type="checkbox" id="number">
    </div>
    <div class="form-control">
      <label for="symbol">Contains Symbols</label>
      <input (change)="onChangeUseSymbols()" type="checkbox" id="symbol">
    </div>
    <button [disabled]="!(length && (includeUpperCaseLetters || includeLowerCaseLetters || includeNumbers || includeSymbols))" 
    (click)="onButtonClicked()" 
    class="generate" 
    id="generate">Generate Password</button>
  </div>
</div>